<!--<ion-header [translucent]="true">-->
  
<!--</ion-header>-->

<ion-content [fullscreen]="true">

<div>
  <p></p>
</div>
  
  <!-- Animated Searchbar from Ionic-->
<ion-searchbar class="searchBar" [(ngModel)]="cityName" (ngModelChange)="loadData()" placeholder="Type City" animated></ion-searchbar>
  
<div *ngIf="!loading"> <!--Information will not display until loading has finished-->
  <ion-card class="cardStyle">

    <!--Call Weather display and convert to degrees celcius-->
    <ion-item lines="none">
      <span id="temp">
        {{(weatherTemp?.temp - 273.15).toFixed(0)}}<!--To correct the value-->
      </span>
      <span id="tempId">°C</span>
      <img slot="end" [src]=weatherIcon/>
    </ion-item>

    <!--Display Cityname-->
    <ion-item lines="none">
      <ion-icon id="locationIcon" name="location"></ion-icon>
      <span>{{cityName}}</span>
      <ion-label id="dateText" slot="end">{{todayDate | date: "EEE dd MMM Y"}}</ion-label>
    </ion-item>
  </ion-card>


  <!--Display Max Temperature-->
  <ion-card class="cardStyle">
    <ion-item lines="none">
      <span>Maximum Temperature</span>
      <span slot="end">{{(weatherTemp.temp_max - 273.15).toFixed(0)}}°C</span>
    </ion-item>

    <!--Display Minimum Temperature-->
    <ion-item lines="none">
      <span>Minimum Temperature</span>
      <span slot="end">{{(weatherTemp.temp_min - 273.15).toFixed(0)}}°C</span>
    </ion-item>

    <ion-item>
      <span>Humidity</span>
      <span slot="end">{{weatherTemp.humidity}}%</span>
    </ion-item>
  
  </ion-card>
</div>

<div *ngIf="loading" class="spin">
  <ion-spinner name="circles"></ion-spinner>
</div>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    
      <ion-tab-button tab="About">
        <ion-icon name="information"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

</ion-content>
